# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

_build/
_cache/
dist/
sc
!sc/
srcds_cmdrelay
!srcds_cmdrelay/
srcds_controller
!srcds_controller/
srcds_runner
!srcds_runner/
.srcds_controller.yaml
.srcds_controller_server.yaml

vendor.orig/
.build/

/vendor/
